<%- include ("../partials/head") %>
<section>
  <h2>Current Order Details:</h2>
  <ul>
    <li>Clothing: <%=order.clothing%></li>
    <li>Qty: <%=order.qty%></li>
    <li>Price: <%=order.price%></li>
  </ul>
</section>

<section>
  <form action="/order/<%=order._id%>?_method=PUT" method="POST">
    <p>Clothing:</p>
    <input type="text" name="clothing" /> <br />
    <p>Quantity:</p>
    <input type="number" name="qty" /> <br />
    <p>Price:</p>
    <input type="number" name="price" /> <br /> <br />
    <input type="submit" value="Edit Order" /> <br /> <br />
    <button><a href="/order/<%=order._id%>">Back to Order details</a></button>
    <button><a href="/order">Back to All Orders</a></button>
  </form>
</section>
<%- include ("../partials/footer") %>
