<%- include ("../partials/head") %>
<style>
  button {
    border-radius: 20px;
  }
  input {
    border-radius: 20px;
    cursor: pointer;
  }
  input:hover {
    background-color: red;
  }
</style>
<h1>Order Show Page</h1>

<section>
  <h2>Order Attributes:</h2>
  <ul>
    <li>Clothing: <%=order.clothing%></li>
    <li>Qty: <%=order.qty%></li>
    <li>Price: <%=order.price%></li>
  </ul>
</section>

<section>
  <form action="/order/<%= order._id%>?_method=DELETE" method="POST">
    <input type="submit" value="Delete Order" />
  </form>
</section>

<section>
  <button><a href="/order/<%=order._id%>/edit">Edit</a></button>
  <button><a href="/order">Back to Order Index</a></button>
</section>
<%- include ("../partials/footer") %>
